

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="http://127.0.0.1:5000/admin_home">Welcome Satish</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="http://127.0.0.1:5000/schedule_new_class">Schedule New Class <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link active" href="http://127.0.0.1:5000/show_all_schedule_class">View all Schedule Classes</a>
        <a class="nav-item nav-link active" href="http://127.0.0.1:5000/admin">Logout</a>
    </div>
  </div>
</nav>