{% extends 'common.html' %}

{% block xyz %}

    <style>
    .admin_login
    {
        text-align: center;
    }
    </style>
    <form action="http://127.0.0.1:5000/validate_admin" method="post">
        <table align="center" border="0">
    <tr>
        <th rowspan="5">
            <img id="admin_logo" src="{{ url_for('static',filename = 'images/admin_logo.png') }}">
        </th>
        <th style="font-size: 15px ; background-color: yellowgreen;text-align: center; color: ivory">Admin Login Page</th>
    </tr>

    <tr>
        <th class="admin_login">
            <input type="text" placeholder="Username" name="t1" required>
        </th>
    </tr>
    <tr>
        <th class="admin_login">
            <input type="password" placeholder="Password" name="t2" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$">
        </th>
    </tr>
    <tr>
        <th class="admin_login">
            <button type="submit">Login</button>
        </th>
    </tr>
            {% if message %}
            <tr>
                <th class="admin_login">
                    <div class="alert alert-primary" role="alert">
  <strong>{{ message.error }}</strong>
</div>

                </th>
            </tr>
            {% endif %}
    </table>
    </form>


{% endblock %}